
body {
  font-family: 'Baloo Bhaina', Changa One;
  font-size: 2em;
  color: #purple;
}

html {
  background-image: url('scooby.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title-btn {
  float: right;
}

.title-btn a {
  cursor: grab;
  text-shadow: green;
  text-align: center;
  border: 2px solid black;
  border-top-width: thick;
  position: relative;
  font-weight: bolder;
  color: #skyblue;
  font-size: 5em;
  text-decoration: none;
}

.title-btn a:active {
  cursor: grabbing;
  top: 6px;
  color: darkblue;
  font-size: 4em;
}

.openload-btn a {
  color: black;
  position: fixed;
  left: 50%;
  top: 50%;
  text-decoration: none;
}

.vidup-btn a {
  color: red;
  position: fixed;
  left: 50%;
  top: 55%;
  text-decoration: none;
}
.container {
  position: absolute;
  bottom: 70px;
  left: 50%;
}

.container a {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  color: #D5DAC2;
}
