
body {
  font-family: 'Baloo Bhaina', Changa One;
  font-size: 2em;
  color: #purple;
}

html {
  background-image: url('scooby.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title-btn {
  float: right;
}

.title-btn a {
  cursor: grab;
  text-shadow: green;
  text-align: center;
  border: 2px solid black;
  border-top-width: thick;
  position: relative;
  font-weight: bolder;
  color: #skyblue;
  font-size: 5em;
}

.title-btn a:active {
  cursor: grabbing;
  top: 6px;
  color: darkblue;
  font-size: 4em;
}

.main p {
  color: black;
  position: fixed;
  margin-left: 50%;
  margin-top: 23.25%;
}

.container {
  position: fixed;
  margin-top: 46.5%;
  margin-left: 50%;
}
.container a {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  color: #D5DAC2;
}
