
body {
  font-family: 'Baloo Bhaina', Changa One;
  font-size: 2em;
  color: #05DCD2;
}

html {
  background-image: url('scooby.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main h2 a {
  font-weight: bolder;
  color: #1358B0;
  font-size: 3em;
  display: flex;
}

.container p a {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 31.5%;
  padding-left: 49%;
  color: #D5DAC2;
}
